	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container animated fadeIn">		

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-sm-12 maincontent">
								
				<div class="col-md-12 text-center top-margin">						
					<i class="fa fa-check-circle-o top-margin" style="font-size: 20em; color: #4c9900;"></i>
					<h1>Account Activated !!</h1>
					<h3>Congratulations !! Your account has been Activated !!</h3><br>
					<h4><a class="btn btn-default" href="#/login">go to login page</a> or <a class="btn btn-action" href="#/">go to homepage</a></h4>
				</div> <!-- /row -->

			</article>
			<!-- /Article -->

		</div>
	</div>	<!-- /container -->
