	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container animated fadeIn">

		<ol class="breadcrumb">
			<li><a href="#/">Home</a></li>
			<li><a href="#/myaccount">Dashboard</a></li>
			<li class="active">Change Password</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-sm-9 maincontent">
				<header class="page-header">
					<h1 class="page-title">Change Password</h1>
					<p style="color:red;"><em>* indicates Mandatory Fields</em></p>
				</header>
				
				<ng-form name="chngPassword">

					<div class="col-md-12">
						<h4 class="text-center" style="color: #356aa0;"><strong>LOGIN DETAILS</strong></h4><br>
																	
						<div class="col-sm-4 text-right"><label>Email</label>						
						</div>

						<div class="col-sm-4">	
							<input id="email" type="text" ng-model="currentUser.email" class="form-control" disabled>					
						</div>
						
						<div class="col-sm-4"><p><em>Can not edit Registered Email</em></p></div>
					</div> <!-- /row -->

					<div class="clearfix"></div>		

					<div class="col-md-12 top-margin">
																	
						<div class="col-sm-4 text-right"><label>Current Password <span class="text-danger">*</span></label></label>						
						</div>

						<div class="col-sm-4">							
							<input id="pw1" class="form-control" type="password" ng-model="currentUser.oldPassword" placeholder="Old Password" ng-change="testOldPass()" ng-required="true">
							<span ng-show="oldpasswordShort && currentUser.oldPassword != undefined" style="color:red; font-size:12px;">password must be at least 6 characters</span>
						</div>
						
						<div class="col-sm-4"><p><em>Enter your current password</em></p></div>
					</div> <!-- /row -->
					
					<div class="clearfix"></div>
					<br><hr>
					
					<div class="col-md-12 top-margin">			
						<h4 class="text-center" style="color: #356aa0;"><strong>NEW PASSWORD</strong></h4><br>

						<div class="col-sm-6">
							<label>New Password <span class="text-danger">*</span></label>
							<input id="pw1" type="password" ng-model="currentUser.password1" class="form-control" placeholder="New Password" ng-change="testPass()" ng-required="true">
							<span ng-show="passwordShort && currentUser.password1 != undefined" style="color:red; font-size:12px;">password must be at least 6 characters</span>
						</div>
						
						<div class="col-sm-6">
							<label>Confirm Password <span class="text-danger">*</span></label>
							<input id="pw2" type="password" ng-model="currentUser.password2" class="form-control" placeholder="Confirm Password" ng-change="checkPasswd()" ng-required="true">
	    					<span ng-show="passwordErr && currentUser.password2 != undefined" style="color:red; font-size:12px;">password doesn't match</span>
						</div>
					</div> <!-- /row -->				

				</ng-form>

				<div class="clearfix"></div>
				<br><hr>

				<div class="col-md-12" layout-align="center" layout="row">							
						<md-button class="md-raised md-warn" ng-href="#/myaccount">Cancel</md-button>
						<md-button ng-click="pwSave(currentUser)" class="md-raised md-primary" ng-disabled="FormError || chngPassword.$invalid">Update Password</md-button>
				</div><!-- /row -->

			</article>
			<!-- /Article -->

			<!-- Sidebar -->
			<aside class="col-sm-3 sidebar sidebar-right">

				<div class="widget">
					<h3>Quick Links</h3>
					<ul>
						<li><a href="#/help">Help</a></li>
						<li ng-if="currentUser.role=='admin'"><a href="#/admin">Admin Dashboard</a></li>
						<li><a href="#/profile">Edit Profile</a></li>
						<li><a href="#/changepassword">Change Password</a></li>
						<li><a ng-click="logout()">Logout</a></li>
					</ul>
				</div>

				<div class="widget">
					<a href="http://itu.edu/" target="_blank"><img src="/images/itu.png"></a>
				</div>				

				<div class="widget">
					<a href="#/support"><img src="/images/technical-support.jpg"></a>
				</div>

			</aside>
			<!-- /Sidebar -->

		</div>
	</div>	<!-- /container -->
