	<!-- container -->
	<div class="container animated fadeIn">

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-sm-12 maincontent">				
			
				<div class="col-md-12">

					<div class="panel panel-default">
						<div class="panel-body">
							<h3>Q{{index + 1}}: {{questions[index].content}}</h3>
							<hr>
							<p class="text-muted">
								
								<input name="choices" id="choiceA" type="radio" ng-click="choose(index, 'A')" ng-checked="questions[index].answer=='A'">
								<label for="choiceA">A: &nbsp;{{questions[index].choices.A}}</label>
							</p>
							<p class="text-muted">
								<input name="choices" id="choiceB" type="radio" ng-click="choose(index, 'B')" ng-checked="questions[index].answer=='B'">
								<label for="choiceB">B: &nbsp;{{questions[index].choices.B}}</label>
							</p>
							<p class="text-muted">
								<input name="choices" id="choiceC" type="radio" ng-click="choose(index, 'C')" ng-checked="questions[index].answer=='C'">
								<label for="choiceC">C: &nbsp;{{questions[index].choices.C}}</label>
							</p>
							<p class="text-muted">
								<input name="choices" id="choiceD" type="radio" ng-click="choose(index, 'D')" ng-checked="questions[index].answer=='D'">
								<label for="choiceD">D: &nbsp;{{questions[index].choices.D}}</label>								
							</p>

							<hr>							

							<p>
								<span style="float: left;">
									<md-button class="md-primary" ng-click="previous()" ng-disabled="index == 0">
										<i class="fa fa-chevron-left"></i>  Previous
									</md-button>
								</span>

								<span style="float: right;">
									<md-button class="md-primary text-right" ng-click="next()" ng-disabled="index == questions.length - 1">
										Next  <i class="fa fa-chevron-right"></i>
									</md-button>
								</span>
							</p>
							
							<p layout-align="center" layout="row">
								<md-button class="md-raised md-primary" ng-show="listOpen" ng-click="show()">Show Question List</md-button>
	            				<md-button class="md-raised md-primary" ng-show="listClose" ng-click="hide()">Hide Question List</md-button>		
							</p>

							<div id="QList" class="top-margin col-md-12" ng-if="showList">
								<h3 align="center">Question List</h3>								
								<ul>
									<li ng-click="jump($index)" ng-repeat="question in questions" 
										ng-class="{ red:question.answer }">
										Q{{$index + 1}}
									</li>
								</ul>
							</div>
						
						</div>
					</div>

				</div>

				<div class="clearfix"></div>
				<hr>

				<div class="col-md-12" layout-align="center" layout="row">												
					<md-button class="md-raised md-warn" ng-click="quit($event)">Quit</md-button></p>
					<md-button class="md-raised md-primary" ng-click="submit()">Submit Answers</md-button></p>
				</div><!-- /row -->								
				
			</article>
			<!-- /Article -->			
		</div>
	</div>	<!-- /container -->
