	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container animated fadeIn">

		<ol class="breadcrumb">
			<li><a href="#/">Home</a></li>
			<li><a href="#/myaccount">Dashboard</a></li>
			<li class="active">Exam</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-sm-9 maincontent">

				<header class="page-header">
					<h1 class="page-title">Exam Mode</span></h1>
				</header>
				
				<div class="col-md-12" data-ng-init="getCerts()">

					<h4>In the exam mode, you will have to answer 80 questions in 2 hours.</h4>	
					<h3>SELECT a Certification Exam to Proceed.</h4>									

					<table class="table table-hover table-responsive">
                		<thead>
    						<tr class="table-head-bg">
								<th>Exam Name</th>
								<th>Description</th>
								<th></th>
							</tr>
  						</thead>
                		
                		<tbody>
							<tr ng-repeat="cert in certifications">
								<td>{{cert.name}}</td>
								<td>{{cert.description}}</td>
								<td><input id="act" type="radio" name="cert" ng-model="certName" value="{{cert.name}}" ng-click="getValue(certName)"></td>
							</tr>
							
							<tr ng-show="certifications.length <= 0">
								<td colspan="6" align="center">
									<h4 style="color:red">No Certifications Found.</h4>
								</td>
							</tr>
						</tbody>
            		</table>
				</div>

				<div class="clearfix"></div>
				<hr>

				<div class="col-md-12" layout-align="center" layout="row">							
					<md-button class="md-raised md-warn" ng-href="#/myaccount">Cancel</md-button>
					<md-button ng-click="exam()" class="md-raised md-primary" ng-disabled="wrong">Start</md-button>
				</div><!-- /row -->				
				
			</article>
			<!-- /Article -->

			<!-- Sidebar -->
			<aside class="col-sm-3 sidebar sidebar-right">

				<div class="widget">
					<h3>Quick Links</h3>
					<ul>
						<li><a href="#/help">Help</a></li>
						<li ng-if="currentUser.role=='admin'"><a href="#/admin">Admin Dashboard</a></li>
						<li><a href="#/profile">Edit Profile</a></li>
						<li><a href="#/changepassword">Change Password</a></li>
						<li><a ng-click="logout()">Logout</a></li>
					</ul>
				</div>

				<div class="widget">
					<a href="http://itu.edu/" target="_blank"><img src="/images/itu.png"></a>
				</div>				

				<div class="widget">
					<a href="#/support"><img src="/images/technical-support.jpg"></a>
				</div>

			</aside>
			<!-- /Sidebar -->

		</div>
	</div>	<!-- /container -->