	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container animated fadeIn">

		<ol class="breadcrumb">
			<li><a href="#/">Home</a></li>
			<li class="active">Reset Password</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-sm-12 maincontent">
				<header class="page-header">
					<h1 class="page-title">Reset Password</h1>
				</header>
				
				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3 class="thin text-center">Enter Registered Email ID</h3>
							<p style="color:red;"><em>* indicates Mandatory Fields</em></p>
							<hr>
							
							<ng-form name="fgtPwd">
							<div class="top-margin">
								<label>Registered Email <span class="text-danger">*</span></label>
								<input id="userId" type="text" class="form-control" ng-model="user.email" ng-change="testLoginName()" ng-required="true" autofocus>
								<span ng-show="loginEmailErr && user.email != undefined" style="color: red; font-size: 12px;">Invalid email address</span>
							</div>
							</ng-form>			

							<br>
							<hr>

							<div layout-align="center" layout="row">
								<md-button class="md-raised md-warn" ng-href="#/login">Cancel</md-button>
								<md-button ng-click="forgot(user.email)" class="md-raised md-primary" ng-disabled="fgtPwd.$invalid || loginEmailErr">Reset Password</md-button>
							</div>
							
						</div>
					</div>

				</div>
				
				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3 class="thin text-center">Register new account</h3>
							<hr>
							<p class="text-center text-muted">Don't have an account yet? Create one now<br>
							<span style="font-size: 24px; font-weight: bold; color: green; padding: 11px 0; display: block;">IT'S FREE</span>
							Sign up for a free account to gain access to the application. Your information will not be shared with anyone else.
							</p>
							<hr>
							<a class="btn btn-action btn-block" href="#/register">Create an account</a>
						</div>
					</div>

				</div>
				
			</article>
			<!-- /Article -->

		</div>
	</div>	<!-- /container -->