	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container animated fadeIn">

		<ol class="breadcrumb">
			<li><a href="#/">Home</a></li>
			<li class="active">Help and FAQs</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-sm-12 maincontent">
				
				<div class="col-md-6">
					<header class="page-header">
						<h1 class="page-title">Help</h1>
					</header>
					<h4 align="center"><em>The first step towards using the website is that you have <a ng-href="#/register">REGISTER</a> yourself as a new user</em></h4>
					<br>

					<p><strong>1. Registering as a new user</strong></p>
					<ul>
						<li>Click on Register button on the login screen</li>
						<li>Enter all the information regarding you and click on save button</li>
						<li>An email will be sent to the registered email through which you can activate your account</li>
						<li>Click on the link present in your email, it will direct you to ASQ page stating your account is now active</li>
					</ul>

					<br>
					<p align="center"><strong><em>As you want to use the website, we assume you have valid login credentials and that your account is active</em></strong></p>
					<br>

					<p><strong>2. Edit your profile</strong></p>
					<ul>
						<li>By clicking on Edit Profile link will take you to a page where your entire profile details are displayed in an editable format</li>
						<li>You can view or edit your profile here</li>
						<li>Except the email field all are updatable</li>
					</ul>

					<p><strong>3. Change password</strong></p>
					<ul>
						<li>If you wish to change your password, click on Change Password link</li>
						<li>You have to enter your old password and the new password you wish to change to and click save button</li>
						<li>Once you change the password the system will log you out and prompt you to login with the new password</li>
						<li>A notification regarding the change of password will be sent in a mail to the registered email</li>
					</ul>

					<p><strong>4. Taking a Practice exam</strong></p>
					<ul>
						<li>Login with your credentials</li>
						<li>Click on Practice option</li>
						<li>Choose from the list of exams which exam you would like to take</li>
						<li>Then chose the number of questions you want to practice and click the start button<em>(default is 5)</em></li>
						<li>The exam with the number of questions selected will be shown</li>
						<li>Answer the exam and click submit button</li>
						<li>Once you submit the system responds with a report represented in a graphical format</li>
						<li>The report page will also have options to view your history of exams, option to allow you change the graph parameters, and to help you view the answers to the wrong questions</li>
					</ul>

					<p><strong>5. Taking an Exam</strong></p>
					<ul>
						<li>Login with your credentials</li>
						<li>Click on Exam option</li>
						<li>Read the instructions carefully and click start to proceed</li>
						<li>The exam with a timer will be presented to you</li>
						<li>You even have an option to skip few questions and move to others by clicking on Questions List button and choosing the question number</li>
						<li>Answer the exam and click submit button</li>
						<li>Once you submit the system responds with a report represented in a graphical format</li>
						<li>The report page will also have options to view your history of exams, option to allow you change the graph parameters, and to help you view the answers to the wrong questions</li>
					</ul>

					<p><strong>6. View your History</strong></p>
					<ul>
						<li>There is an option to view the history of practice exams and exams you have taken so far by clicking on the History button</li>
						<li>History of exams taken so far will be displayed in a tabular format</li>						
					</ul>

				</div>

				<div class="col-md-6">
					<header class="page-header">
						<h1 class="page-title">FAQs</h1>
					</header>
								
					<div class="panel-group">					
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									Who is MEAN ASQ for?
								</h4>
							</div>
								
							<div class="panel-collapse">
								<div class="panel-body">
									It’s for all the users of the organization who would like to take practice and master CSQE Certification exam in a real time environment. But you will need to have an account to use the app which is free.
	                			</div>
	            			</div>
	        			</div>

	        			<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									Is account registration required?
								</h4>
							</div>
								
							<div class="panel-collapse">
								<div class="panel-body">
									YES! Account registration is required to use the website and it is FREE. This ensures a valid users to use the website as well as to get personal practice and progress management. 
	                			</div>
	            			</div>
	        			</div>

	        			<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									I registered but it is saying I need to activate my account before login
								</h4>
							</div>
								
							<div class="panel-collapse">
								<div class="panel-body">
									To ensure seurity and validity all registered accounts must be activated before using the website features. To Activate your account, go to your registered email id, you will have a link present in the welcome email. Click on the link to activate your account.
	                			</div>
	            			</div>
	        			</div>

	        			<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									I have valid credentials and activated my account, I have been using it for a while, but now suddenly it’s not working
								</h4>
							</div>
								
							<div class="panel-collapse">
								<div class="panel-body">
									The reason might be the credentials would have expired. All the credentials will have an expiry date associated with them. Once they expire the credentials are not going work further. We would request you to contact the admin and ask him to change the expiry date. Another way to do is to register again.
	                			</div>
	            			</div>
	        			</div>

	        			<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									What should I do if I had lost the password?
								</h4>
							</div>
								
							<div class="panel-collapse">
								<div class="panel-body">
									In the event of lost password just click on <a ng-href="#/forgotPassword">Forgot Password</a> on the User login page. You may be prompted to enter your registered email address to which reset password link will be sent.
	                			</div>
	            			</div>
	        			</div>

	        			<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									I heard there is an option to move to a different question while taking an exam, but could not find the option to do it
								</h4>
							</div>
								
							<div class="panel-collapse">
								<div class="panel-body">
									Once you start taking an exam there will be a Button to show the Question List. Click on the desired question number to move to that question. On the Question List, Answered Questions will be marked green.
	                			</div>
	            			</div>
	        			</div>

	        			<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									Is there a way to view the answers to the wrong questions of an exam which I have taken in the past?
								</h4>
							</div>
								
							<div class="panel-collapse">
								<div class="panel-body">
									Yes, you could do that by going to the history and there by clicking the exam which you have taken. It will take you to the exam report screen.
	                			</div>
	            			</div>
	        			</div>

	        			<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									Is there any negative marking the exams?
								</h4>
							</div>
								
							<div class="panel-collapse">
								<div class="panel-body">
									It depends on which exam you have taken. If there is any negative marking present, it will be listed on the exam instructions before the start of the exam.
	                			</div>
	            			</div>
	        			</div>

	        			<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									I feel one of the answers I have given was wrongly rated or corrected. Could I ask for a review on that?
								</h4>
							</div>
								
							<div class="panel-collapse">
								<div class="panel-body">
									There is no direct feature for a review in this, but what you could do is send out a mail to the admin using the contact form on <a href="#/support">Support Page</a>. State your issue and the admin will respond accordingly.
	                			</div>
	            			</div>
	        			</div>

	        		</div><!-- Panel Group -->
	        	</div>			
			</article>
			<!-- /Article -->

		</div>
	</div>	<!-- /container -->
		