	<!-- Header Hero Section -->
	<header id="head">
		<div class="container animated fadeIn">
			<div class="row">
				<h1 class="lead">Perfect CSQE Virtual Exam and Practice Website</h1>
				<p class="tagline">By American Society for Quality</p>
				<p><a class="btn btn-default btn-lg" ng-click="scrollTo('features')" role="button">MORE INFO</a> <a class="btn btn-action btn-lg" href="#/register" role="button">SIGNUP TODAY</a></p>
			</div>
		</div>
	</header>
	<!-- /Header -->

	<!-- Intro -->
	<div class="container animated fadeIn">
		<br>
		<h2 class="text-center thin">Welcome to <strong>MEAN ASQ</strong></h2><br>
		<img src="images/asq-logo.png" align="right" style="margin-left: 5px ">
		<p class="text-muted">ASQ (American Society for Quality) is a global community of people dedicated to quality who share the ideas and tools that make our world work better. With individual and organizational members around the world, ASQ has the reputation and reach to bring together the diverse quality champions who are transforming the world’s corporations, organizations and communities to meet tomorrow’s critical challenges.</p>
		
		<p class="text-muted">Headquartered in Milwaukee, Wisconsin, USA, ASQ champions people passionate about quality in more than 150 countries. ASQ Global operates Regional Centers in India, China, and Mexico, and has a regional service center in the United Arab Emirates, serving the Middle East and North Africa region. ASQ’s global offices provide local access to the quality community, career development, credentials, knowledge, and information services.</p>

		<br>

		<h4 align="center"><em>ASQ provides the quality community with training, professional certifications, and knowledge to a vast network of members of the global quality community.</em></h4>

						
	</div>
	<!-- /Intro-->

	<div id="features"></div>

	<!-- Features -->
	<div class="full-bg-clr top-space">
		<div class="container animated fadeIn">
			
			<h3 class="text-center">APP FEATURES</h3>
			<p class="text-center">The web app will provide a platform for students to study for <strong>CSQE Certification</strong> in Q&A methodology</p>
			<div class="row">
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-graduation-cap fa-5"></i>EXAM MODE</h4></div>
					<div class="h-body text-center">
						<p>Real-time exam like situation with questions from all functional areas and running decreasing timer. Results will be shown when student submits the exam or time runs out.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-hourglass-half fa-5"></i>PRACTICE MODE</h4></div>
					<div class="h-body text-center">
						<p>Practice with questions from one or multiple selected functional areas. Exam like situation but without the time limit. Results are shown when student submits the test to help improve.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-line-chart fa-5"></i>PROGRESS REPORT</h4></div>
					<div class="h-body text-center">
						<p>App keeps track and gives user complete report on the practice and exam they have take with graphs, details on questions user answered wrong and score details by category.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-smile-o fa-5"></i>SUPPORT</h4></div>
					<div class="h-body text-center">
						<p>Customer Care Representatives are available Monday-Friday, 7:00am to 5:00pm(CT). When Contacted via E-mail a Customer Care Representative will respond within one business day. </p>
					</div>
				</div>
			</div> <!-- /row  -->
		
		</div>
	</div>
	<!-- /Features -->

	<!-- container -->
	<div class="container animated fadeIn">

		<h2 class="text-center top-space">Frequently Asked Questions</h2>
		<br>

		<div class="row">
			<div class="col-sm-6">
				<h3>Who is MEAN ASQ for?</h3>
				<p>It’s for all the users of the organization who would like to take practice and master CSQE Certification exam in a real time environment. But you will need to have an account to use the app which is free.</p>
			</div>
			<div class="col-sm-6">
				<h3>Is there any negative marking the exams?</h3>
				<p>It depends on which exam you have taken. If there is any negative marking present, it will be indicated to you at the start of the exam itself.</p>				
			</div>
		</div> <!-- /row -->

		<div class="row">
			<div class="col-sm-6">
				<h3>I registered but it is saying I need to activate my account before login.</h3>
				<p>Go to your registered email id, you will have a link present in the welcome email. Click on the link to activate your account.</p>
			</div>
			<div class="col-sm-6">
				<h3>What should I do if I had lost the password?</h3>
				<p>In the event of lost password just click on Forgot Password on the User login page. You may be prompted to enter your registered email address to which reset password link will be sent.</p>
			</div>
			<div class="clearfix"></div>
			<p class="text-center"><a class="btn btn-primary btn-large top-space" ng-href="#/help">Learn more</a></p>
		</div> <!-- /row -->		

	</div>	<!-- /container -->	
